<%- include("header") -%>
<section class="wrapper moreinfo">
    <img src="<%=item.img%>" alt="">
    <h2 class="section-title"><%=item.name%><span class="dot">.</span></h2>
    <p><%=item.price%></p>
    <p><%=item.description%></p>
</section>
<%- include("footer") -%>